# autotools stuff
*.a
*.o
*.la
*.lo
.deps
.dirstamp
.libs/
/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile.in
/Makefile
/m4/libtool.m4
/m4/lt*.m4
/missing
/stamp-h1
/tap-driver.sh
/test-driver
test*.log
test*.trs

# In-source build artefacts
/hst
/libhst.la
/tests/test-*
!/tests/test-*.c

# Common out-of-source build locations
/.build*
/build*
